.newsArticleWrapper{
  display: grid;
  align-items: center;
  /* creates columns for responsive webPage */
  grid-template-columns: repeat(auto-fit, minmax(80px, 20rem));
  justify-content: center;
  column-gap: 30px;

}
/* responsible for styling each news article */
.newsArticle{
  height: 300px;
  padding: 20px;

  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.2);
  transition: 0.3s;

  text-align: center;
  font-size: 15px;
  padding-right: 20px;
  overflow: hidden;
  text-decoration: none;

  border-radius: 10px;
  border-color: black;
  border-style: inherit;
  color: inherit;

  
}
.newsArticle:hover{
  box-shadow: 0 16px 16px 0 rgba(0,0,0,0.2);
}
.news_Summary{
  /* Used to create ellipses after three lines */
  display: -webkit-box;
  /* controls exactly where to place lines */
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}
.stockSearch{
  /* position: absolute;   */
  left: 50%;                     
 
}
.header{
  background-color: white;
  
}
body, html {
  height: 100%;
  margin: 0;
 
}
